<div class="initScreen">
  <div class="tips">
    <div class="mainTitle"> Шо рабіць? </div>

    <div class="tipsWrapper">
      <div class="tip">
        <div class="title"> Каб рухацца нахіляй галаву налева і направа </div>
        <img class="instruction" src="assets_static/images/rotate-solod.gif">
      </div>
  
      <div class="tip">
        <div class="title"> Каб скакаць шырока адчыняй рот </div>
        <img class="instruction" src="assets_static/images/mouse-solod.gif">
      </div>
    </div>
  </div>

  <button class="start"> Пачатак </button>
</div>