<div class="scores">
  <div class="scoreWrapper bulbasWrapper">
    <div class="score bulbas"> 0 </div>
    <img class="scoreIcon" src="assets_static/images/potato.png">
  </div>
  <div class="scoreWrapper prokopeniasWrapper">
    <div class="score prokopenias"> 0 </div>
    <img class="scoreIcon" src="assets_static/images/prokopenia.png">
  </div>
  <div class="scoreWrapper prokopeniasWrapper">
    <div class="score soloduhas"> 0 </div>
    <img class="scoreIcon" src="assets_static/images/soloduha.png">
  </div>
</div>