.faceDetection {
  margin: 20px 0 0 20px;
  display: flex;
  flex-direction: column;
  position : relative;
  z-index: 1;

  .overlay {
    transform : scaleX(-1);
    box-shadow: 2px 2px 2px rgba(black, 0.5);
  }

  .video {
    transform : scaleX(-1);
    position: absolute;
    left: 0;
    top: 0;
    background-color: grey;
  }

  .browsOverlay {
    width: 269px;
    height: 202px;
    // border: 2px solid yellow;
    position: absolute;
    left: 0;
    top: 0;
    transform : scaleX(-1);
  }

  .start,
  .pauseAndResume {
    margin-top: 6px;
    padding: 12px 25px;
    left: 20px;
    top: 235px;
    background-color: black;
    color: white;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: -2px 2px 2px rgba(black, 0.5);
    display: none;
    opacity: 0;
    transform: translateY(-3px);
  }

  @at-root body.showStartButton & .start {
    display: block;
    animation: showButton 0.3s 1.5s ease-out forwards;
  }

  @keyframes showButton {
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @at-root body.hideStartButton & {
    .start {
      display: none;
    }

    .pauseAndResume {
      display: block;
      animation: showButton 0.1s ease-out forwards;
    }
  }
}